.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  padding: 30px 0;
  min-width: 100vw;

  background-image: url("../../Img/BGIMG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cardinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 50%;
  height: auto;

  padding: 30px;
  background-color: #97e8ff82;
  backdrop-filter: blur(10px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 5px ridge rgba(50, 50, 220, 0.6);
}

.col {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;

  margin: 11px 10px;
}

.tempContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  flex-wrap: wrap;

  max-width: 80%;
  margin: auto;
  padding-bottom: 20px;
  overflow: scroll;
}

.tempContainer > div {
  width: auto;
  padding: 3px 5px;
  margin: 10px;
  height: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: rgba(50, 50, 220, 0.778);
  cursor: pointer;
  border: solid 2px orange;
  background-color: rgb(213, 250, 213);
  border-radius: 20px;
}

.tempContainer > div:hover {
  color: red;
  background-color: rgb(250, 213, 213);
}

.error {
  font-weight: bold;
  color: red;
}

.col > label {
  font-weight: bold;
  color: rgb(85, 85, 206);
}

.form > h1 {
  font-weight: bold;
  color: rgb(58, 58, 210);
}
