.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #ffffff;
}

.dogsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 80vw;
  height: auto;
  padding: 40px 0px;

  flex-wrap: wrap;
}

.dogBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  width: 200px;
  height: 500px;
  margin: 20px;

  background-color: #97e9ff;
  border-radius: 20px;
}

.dogBox > img {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.dogBox > h3 {
  width: 100%;
  height: 20px;

  overflow: hidden;
}

.dogBox > p {
  width: 100%;
  height: 40px;

  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 20%;

  padding: 20px;
}
