.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("../../Img/BGIMG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dogsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 90vw;
  height: auto;
  padding: 40px 0px;

  flex-wrap: wrap;
}

.dogBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  width: 250px;
  height: 500px;
  margin: 20px;

  border: 5px ridge rgba(50, 50, 220, 0.6);

  background-color: #97e8ff82;
  backdrop-filter: blur(10px);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.dogBox > img {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
}

.dogBox > h3 {
  width: 100%;
  height: 20px;

  overflow: hidden;
}

.weight {
  width: 90%;
  height: auto;

  overflow: hidden;
  font-family: "Bakbak One", cursive;
  font-size: 17px;
  color: rgb(57, 57, 57);
}

.temperaments {
  width: 90%;
  height: 70px;
  font-family: "Bakbak One", cursive;
  overflow: hidden;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 80%;

  padding: 20px;
}

.currentPage {
  background-color: #99a6d3;
  color: #2e5fefc7;
  font-weight: bold;
  width: 30px;
  height: 30px;
  padding: 2px;
  backdrop-filter: blur(10px);
  border-radius: 4px;
  margin: 0px 5px;
}

.otherPage {
  width: 30px;
  height: 30px;
  padding: 2px;
  backdrop-filter: blur(10px);
  border-radius: 4px;
  margin: 0px 5px;
  color: #ffffff;
  background-color: #2e5fefc7;
}
