.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  width: 100%;

  background-image: url("../../Img/BGLandingPG.jpg");
  background-size: auto;

  z-index: 100;
}

.container > h1 {
  color: white;
  margin-bottom: 100px;
}
